<footer class="footer footer-center p-10 bg-base-200 text-base-content">
    <div class="grid grid-flow-col gap-4">
      <a class="link link-hover">About us</a> 
      <a class="link link-hover">Contact</a> 
      <a class="link link-hover">Privacy Policy</a>
    </div> 
    <div>
      <p>© <span id="year"></span> LMS Project - All rights reserved</p>
    </div>
  </footer>